#include <stdio.h>
#include <string.h>

void hello(char* pstr);

int main(int argc, char **argv) {

    if (argc < 2) return 1;
    hello(argv[1]);
    return 0;
}
void hello(char* pstr)
{
    char buf[100] ={0};
    strncpy(buf, pstr,strlen(pstr));
    printf("hello: %s\n", buf);
}
